/* CSS RESET  */
@import "~normalize.css";

/* Typography  */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");

/* Utility  */

:root {
  /* Colors Palette  */
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  --dark-blue: hsl(220, 13%, 13%);
  --grayish-blue-dark: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%, 75%);
}

/* Styles Begins Here  */

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  max-width: 1440px;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  border: 2px sold var(--dark-blue);
  margin-bottom: 30px;
  width: 80%;
}

#side-nav {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--Grayish-blue);
  padding-bottom: 20px;
  width: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: start;
  flex-wrap: wrap;
  gap: 15px;
}

.burger-menu-container {
  display: none;
}

ul {
  display: flex;
  gap: 30px;

  li {
    list-style: none;

    a {
      color: var(--grayish-blue-dark);
      text-decoration: none;
    }
    a:hover {
      color: var(--dark-blue);
      border-bottom: 4px solid var(--Orange);
      padding-bottom: 43px;
    }
  }
}

h3,
h4,
h5,
p {
  color: var(--grayish-blue-dark);
}

.profile-cart {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart-icon-container > img:hover,
a:focus {
  filter: contrast(80);
}

.profile {
  width: 45px;
}

.profile:hover {
  border: 2px solid var(--Orange);
  border-radius: 50%;
}

.cart-active {
  background: var(--white);
  display: none;
  flex-direction: column;
  width: 300px;
  height: 200px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: absolute;
  top: -42px;
  right: 0;
  border-radius: 10px;
}
.cart-active > :first-child {
  align-self: flex-start;
}

.cart-active > :last-child {
  align-self: center;
  margin: auto 0;
}

.cart-title {
  border-bottom: 1px solid var(--Grayish-blue);
  width: 100%;
}
.cart-title h3 {
  padding: 0 15px;
}

.cart-content {
  text-align: center;
}

/* container styles */

.container {
  max-width: 90%;
  display: flex;
  position: relative;
}

.product-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.main-image {
  width: 100%;
  border-radius: 15px;
}

 #main-image > span{
  display: none;
 }

h2 {
  font-size: xx-large;
}

.featured-images {
  display: flex;
  gap: 20px;
  margin: 10px 0;

  & img {
    border-radius: 10px;
    width: 100%;
  }
}

.item a:focus {
  border-radius: 10px;
  outline: 2px solid var(--Orange);
  filter: opacity(50%);
}
.item a:hover {
  border-radius: 10px;
  filter: opacity(50%);
}

/* Second Div  */

.product-description {
  max-width: 450px;
}

.company {
  font-weight: 700;
}

.offer {
  display: flex;
  align-items: center;
  gap: 10px;

  .discount {
    background-color: black;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 50px;
    border-radius: 8px;

    & h4 {
      color: var(--white);
    }
  }
}

.original-price {
  margin-top: -30px;

  & h4 {
    text-decoration: line-through;
  }
}

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.amount {
  background-color: var(--Light-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  height: 40px;
  width: 150px;
  border-radius: 8px;
  padding: 0 15px;
}

input {
  width: 35px;
  background: inherit;
  border: none;
}

button {
  background: var(--Orange);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 40px;
  width: 200px;
  border-radius: 8px;

  .btn-cart {
    width: 15px;
    filter: contrast(80);
  }
}
button:hover {
  background: var(--Orange);
  transition: 0.2s ease-in;
  filter: opacity(80%);
}

footer {
  margin: 30px auto;
  text-align: center;
}

/* RESPONSIVENESS  */

/* Mobile */

@media (min-width: 320px) and (max-width: 475px) {
  .container {
    max-width: 90%;
  }
  #hero {
    display: block;
  }

  main {
    gap: 0;
  }

  header {
    margin-bottom: 0;
  }

  nav {
    margin: 0;
    padding: 0;
    border-bottom: 0;
  }

  #side-menu {
    width: inherit;
    transition: 1s step-start;
    display: none;
  }

  #close {
    margin-top: 30px;
  }

  #close-icon {
    width: 20px;
  }

  #side-nav {
    background: var(--white);
    height: 150vh;
    width: 75%;
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 10px;
    box-shadow: 1px 1px 3000px rgb(0, 0, 0);
    transition: 2s ease-in-out;
    display: none;
  }

  #side-nav ul {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: start;
    color: var(--dark-blue);
  }
  #side-nav ul li a h3 {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: start;
    color: var(--dark-blue);
  }

  .nav-menu ul {
    display: none;
  }

  .logo-container {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .cart-active {
    top: 10px;
    height: 350px;
    width: 100%;
  }

  #main-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #main-image > img.main-image {
    width: inherit;
    height: auto;
    display: block;
    object-fit: cover;
  }

  #main-image > span {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #main-image > .prev {
    left: 10px;
  }

  #main-image > .next {
    right: 10px;
  }

  #main-image span img {
    width: 15px;
    height: 15px;
  }

  .featured-images .item {
    display: none;
  }

  .burger-menu-container {
    display: inline-block;
  }
  #hero,
  #product-content {
    width: 100%;
  }

  .product-description {
    max-width: 100%;
  }

  .price-tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .original-price {
    margin: 0;
  }

  .price h2 {
    font-size: xx-large;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .amount {
    width: 90%;
    height: 60px;
  }

  #add-to-cart {
    width: 100%;
  }

  button {
    width: inherit;
    height: 60px;
  }
}
